div.results {
    height: 300px;
    width: 600px;
    background-color: rgba(88, 88, 88, 0.191);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
}

div.choices {
    height: 100px;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    gap: 30px;
    align-items: center;
}

.choices button {
    width: 60px;
}

.confirm {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    font-size: 100px;
}

.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.player-score, .cpu-score {
    font-size: 30px;
}

.player-choice, .computer-choice {
    font-size: 120px;
    box-sizing: content-box;
    width: 140px;
    text-align: center;
}

.vs {
    text-align: center;
    font-size: 60px;
}